<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757384882679-jb0jgp5cscskfecapfr1sepjsr0gj7fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757384882679-jb0jgp5cscskfecapfr1sepjsr0gj7fk</string>
	<key>API_KEY</key>
	<string>AIzaSyBjlrahDutIuuY5ay5mz6dRlCFFnZ-0U5o</string>
	<key>GCM_SENDER_ID</key>
	<string>757384882679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rain.FirstTestWorkAgliullov</string>
	<key>PROJECT_ID</key>
	<string>testworkagliullov</string>
	<key>STORAGE_BUCKET</key>
	<string>testworkagliullov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757384882679:ios:99f67e3bea15f66d03e6f2</string>
	<key>DATABASE_URL</key>
	<string>https://testworkagliullov.firebaseio.com</string>
</dict>
</plist>